.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

body,
html {
  height: 100%;
}

html {
  font: 300 90%/1.5 'Roboto', sans-serif;

  @media only screen and (min-width: 767px) {
    font-size: 100%;
  }
}

body {
  background: #f5f6f7;
  color: #fff;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 700;
}

dt,
dd {
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border: none;
}

a:focus,
a:active {
  border: 0;
  outline: 0;
}

nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a:link,
a:visited,
a:active {

  &:hover {
    transition: color 1s;
  }
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.home,
.about {
  position: relative;
}

.home {
  height: 80vh;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fefefe;

  &:after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,.1)
  }
}

.home{
  position: relative;

  h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  h2 {
    font-size: 32px;
    font-size: 2rem;
  }

  h1, h2 {
    font-weight: 600;
    line-height: 1;
    text-shadow: 1px 1px 2px #fff;
  }
}

.hero {
  position: absolute;
  top: 40%;
  right: 24px;
  left: 24px;
  z-index: 1;
  text-align: center;
}

.about {
  background-color: $hug-color-02;
  color: #fff;
  padding: 5%;
  text-align: center;

  > span, strong {
    display: block;
  }

  a {
    color: #fff;
  }

  span {
    font-size: 32px;
    font-size: 2rem;
  }
  strong {
    font-size: 48px;
    font-size: 3rem;
  }
}

.detail {
  font-size: 20px;
  font-size: 1.25rem;
  color: $hug-color-02;
  text-align: center;

  > p {
    padding: 5%;
    max-width: 880px;
    margin: 0 auto;
  }
}

.awesome {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-width: 880px;
  color: $hug-color-03;

  &:before,
  &:after {
    background-color: $hug-color-03;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.footer {
  background-color: $hug-color-02;
  padding: 20px 10px;
  text-align: center;

  > ul {
    float: right;

    > li {
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.legal {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #333;

  a:link,
  a:visited,
  a:focus
  a:active {
    color: blue;
  }

  h2 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
  }
}

/*
  make each pie piece a rectangle twice as high as it is wide.
  move the transform origin to the middle of the left side.
  Also ensure that overflow is set to hidden.
*/
.pie {
  position:absolute;
  width:100px;
  height:200px;
  overflow:hidden;
  left:150px;
  -moz-transform-origin:left center;
  -ms-transform-origin:left center;
  -o-transform-origin:left center;
  -webkit-transform-origin:left center;
  transform-origin:left center;
}
/*
  unless the piece represents more than 50% of the whole chart.
  then make it a square, and ensure the transform origin is
  back in the center.

  NOTE: since this is only ever a single piece, you could
  move this to a piece specific rule and remove the extra class
*/
.pie.big {
  width:200px;
  height:200px;
  left:50px;
  -moz-transform-origin:center center;
  -ms-transform-origin:center center;
  -o-transform-origin:center center;
  -webkit-transform-origin:center center;
  transform-origin:center center;
}
/*
  this is the actual visible part of the pie.
  Give it the same dimensions as the regular piece.
  Use border radius make it a half circle.
  move transform origin to the middle of the right side.
  Push it out to the left of the containing box.
*/
.pie:BEFORE {
  content:"";
  position:absolute;
  width:100px;
  height:200px;
  left:-100px;
  border-radius:100px 0 0 100px;
  -moz-transform-origin:right center;
  -ms-transform-origin:right center;
  -o-transform-origin:right center;
  -webkit-transform-origin:right center;
  transform-origin:right center;

}
/* if it's part of a big piece, bring it back into the square */
.pie.big:BEFORE {
  left:0px;
}
/*
  big pieces will also need a second semicircle, pointed in the
  opposite direction to hide the first part behind.
*/
.pie.big:AFTER {
  content:"";
  position:absolute;
  width:100px;
  height:200px;
  left:100px;
  border-radius:0 100px 100px 0;
}
/*
  add colour to each piece.
*/
.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
  background-color:red;
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
  background-color:green;
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
  background-color:blue;
}
/*
  now rotate each piece based on their cumulative starting
  position
*/
@for $i from 1 through 360 {
  .pie[data-start="#{$i}"] {
    -webkit-transform: rotate(1deg + $i); /* Safari and Chrome */
    transform: rotate(1deg + $i);
  }
}

@for $i from 1 through 360 {
  .pie[data-value="#{$i}"]:before {
    -webkit-transform: rotate(1deg + $i); /* Safari and Chrome */
    transform: rotate(1deg + $i);
  }
}

