@import "globals";
@import "mixin";

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

body,
html {
  height: 100%;
}

html {
  font: 300 90%/1.5 'Roboto', sans-serif;

  @media only screen and (min-width: 767px) {
    font-size: 100%;
  }
}

body {
  background: #f5f6f7;
  color: #fff;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 700;
}

dt,
dd {
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border: none;
}

a:focus,
a:active {
  border: 0;
  outline: 0;
}

nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  font-weight: 300;
  color: #f0f1f2;
  text-decoration: underline;

  &:hover {
    color: #fff;
    transition: color 1s;
  }
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.home,
.about {
  position: relative;
  @include disable-user-select;
}

.home {
  height: 80vh;
  background-image: url('../img/robo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  background-color: #fefefe;

  &:after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,.25)
  }
}

.home{
  position: relative;

  h1 {
    font-size: 48px;
    font-size: 3rem;
  }

  h2 {
    font-size: 32px;
    font-size: 2rem;
  }

  h1, h2 {
    font-weight: 600;
    line-height: 1;
    text-shadow: 1px 1px 8px #000;
  }
}

.hero {
  position: absolute;
  top: 40%;
  right: 24px;
  left: 24px;
  z-index: 1;
  text-align: center;
}

.about {
  background-color: $hug-color-02;
  color: #fff;
  padding: 5%;
  text-align: center;

  > span, strong {
    display: block;
  }

  span {
    font-size: 32px;
    font-size: 2rem;
  }
  strong {
    font-size: 48px;
    font-size: 3rem;
  }
}

.detail {
  font-size: 20px;
  font-size: 1.25rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  color: $hug-color-02;

  > p {
    padding: 5%;
    max-width: 880px;
    margin: 0 auto;
  }
}

.awesome {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-width: 880px;

  &:before,
  &:after {
    background-color: $hug-color-03;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.imprint {
  text-align: center;
  width: 100%;
  background-color: #002b36;
  margin-bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  a {
    font-size: 10px;
    font-weight: 500;
    color: #aaa;
  }
}

.footer {
  background-color: $hug-color-02;
  padding: 20px 10px;

  > ul {
    float: right;

    > li {
      display: inline-block;
      padding-right: 10px;
    }
  }
}

.legal {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #333;

  a:link,
  a:visited,
  a:focus
  a:active {
    color: blue;
  }

  h2 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
  }
}
