/**
 * @description
 * Generates background rgba with background ie fallback
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include background-rgba(#333, 0.5);
 *   }
 */

@mixin background-rgba($color, $opacity: 0.5)
{
  background: $color; /* fallback */
  background: rgba($color, $opacity);
}


/**
 * @description
 * Disables user selection on element
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include disable-user-select;
 *   }
 */

@mixin disable-user-select
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * @description
 * Generates opacity properties for most browsers.
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include opacity(0.5);
 *   }
 */

@mixin opacity($fValue)
{
  opacity:        $fValue; /* standard: ff gt 1.5, opera, safari */
  $fValue: $fValue * 100;
  -ms-filter: "alpha(opacity=#{$fValue})"; /* IE8 */
  filter: alpha(opacity=#{$fValue}); /* IE 5-7 */
}


/**
 * @description
 * Produces text-overflow ellipsis on one line text
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include text-overflow-ellipsis;
 *   }
 */

@mixin text-overflow-ellipsis
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
 * @description
 * Generates transform properties
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include transform(rotate(-45deg));
 *   }
 */

@mixin transform ($values)
{
  -webkit-transform: $values;
  -ms-transform: $values;
  transform: $values;
}


/**
 * @description
 * Generates transition properties
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include transition(all 0.5s ease-in);
 *   }
 */
@mixin transition ($values)
{
  -webkit-transition: $values;
  transition: $values;
}


/**
 * @description
 * super fancy vertical align
 *
 * @author creinartz
 * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 *
 * @example
 *   .selector {
 *     @include vertical-align;
 *   }
 */

@mixin vertical-align
{
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context)
{
  @return #{$pixels/$context}em
}