.site-header {
    background-color: $hug-color-02;
}

.site-title {
    line-height: 60px;
    margin: 0;
    padding-left: 20px;

    @include respond-to(screen-small) {
        float: left;
    }
}

.site-link {
    text-decoration: none;
    color: #fff;
}